:root {
  --main-color: rgba(20, 48, 46, 1);
  --second-color: rgba(111, 19, 11, 1);
  --third-color: rgba(66, 88, 75, 1);
  --fourth-color: rgba(183, 138, 97, 1);
  --fifth-color: rgba(226, 224, 209, 1);
  --main-text: "Bebas Neue", cursive;
}

body {
  font-family: var(--main-text);
  background-color: var(--fifth-color);
}

.navbar {
  background-color: var(--main-color) !important;
  font-family: var(--main-text);
}

.navbar-toggler {
  color: var(--main-color) !important;
}

a {
  color: var(--fifth-color) !important;
}

h1 {
  color: var(--third-color);
  margin-top: 107px;
  font-size: 446px;
  display: block;
  line-height: 0.7;
}

h2 {
  font-size: 55px;
}

p {
  margin-top: 30px;
  font-size: 23px;
}

.app-name {
  color: var(--third-color);
}

.between-text {
  font-size: 66px;
  text-align: center;
  padding: 27px;
  color: var(--main-color);
}

.image-container {
  background-image: url("img_nature.jpg");
  background-size: cover;
  position: relative;
  height: 393px;
}

.second-heading {
  background-color: white;
  color: black;
  font-size: 10vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 22px;
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.primary-link {
  background: var(--second-color);
  color: var(--fourth-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.email {
  text-align: center;
  padding: 10px;
  color: var(--main-color);
}

@media (max-width: 767px) {
  h1 {
    font-size: 130px;
    text-align: right;
  }
  body {
    line-height: 30px;
  }
  .between-text {
    line-height: 48px;
    font-size: 50px;
  }
  img {
    border-radius: 6px;
  }
  h2 {
    padding: 4px;
    text-align: center;
  }
  .bigwebpagetext {
    display: none;
  }
  .col-4 {
    display: none;
  }
}

@media (min-width: 768px) {
  .smallwebpagetext {
    display: none;
  }
}
